@{
    ViewData["Title"] = "Crud Operations";
}
<div class="text-center">
    <h1 class="display-5"> Perform The following Cruds</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Crud For Helmet Category</h5>
                <p class="card-text">Add/Edit/Delete Helmet Category</p>
                <a asp-controller="Categories" asp-action="Index" class="btn btn-primary">Helmets Category Crud</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Crud For Helmets</h5>
                <p class="card-text">Add/Edit/Delete Helmet </p>
                <a asp-controller="Helmets" asp-action="Index" class="btn btn-primary">Helmets Crud</a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>